/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE START
        #HTML5
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #LISTS
			#BLOCKQUOTES
            #HELPERS
			#IMAGES
			#BUTTONS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #MEDIAQUERIES
        #CONTAINER
        #GRID
            #CLEARFIX
    #BASE SITE
        #STRUCTURE
            #HEADER
            #LOGO
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #NAVIGATION
            #TOGGLE-NAV (Default)
--------------------------------- */
/* BASE START */
/* HTML5 */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
/* BASE CONTENT */

/* BASE CONTENT (TYPOGRAPHY) */

/* BASE CONTENT (BODY) */
body {
  font-family: Helvetica, sans-serif;
  font-size: 87.5%; /* 16px */
  line-height: 1.5em; /* 16px * 1.5 em= 24px */
  background: 
  color: #333;
  padding: 1em;
}

/* BASE CONTENT (HEADINGS)
based on typographic scale
16 18 21 24 36 48 */

 h1, h2, h3, h4, h5, h6 {
   margin: .5em 0;
 }
h1 {
  font-size: 3em; /* 48px/16px=3em */
  line-height: 1em;
}
h2 {
  font-size: 2.25em; /* 36px/16px=2.25em */
  line-height: 1.1em;
}
h3 {
  font-size: 1.5em; /* 24px/16px=1.5em */
  line-height: 1.2em;
}
h4 {
  font-size: 1.3125em; /* 21px/16px=1.3125em */
  line-height: 1.3em;
}
h5 {
  font-size: 1.125em; /* 18px/16px=1.125em */
  line-height: 1.4em;
}
h6 {
  font-size: 1em; /* 16px/16px=1em */
  line-height: 1.5em;
}

/* BASE CONTENT (PARAGRAPHS) */

p {
  margin: 0 0 .5em 0;
}

/* BASE CONTENT (LINKS) */
a {color: #39c; text-decoration: none;}
a:hover, a:visited, a:focus {color: #069; text-decoration: underline;
}

/* BASE CONTENT (LISTS) */

ul, ol, li {
  margin: 0;
  padding: 0;
}
	
ul, ol {
  margin-bottom: 1em;
}
ul ul, ol ul, ul ol, ol ol {
  margin: 0;
  padding-bottom: 0;
}

li {
  margin-left: 1.5em;
}

/* BASE CONTENT (BLOCKQUOTES) */

blockquote {
	position: relative;
	background:
	font-size: 1.3em;
	line-height: 1.5em;
	margin: 1.5em 0;
	padding: 2em;
	border-top: 1px solid #eee;
	border-bottom:	1px solid #eee;	
}
blockquote cite {
 	display: block;
	opacity: .4;
    font-size: .9em;
    font-weight: bold;
}

blockquote cite:before {
 	content:'\2014';
    margin-right: .5em;  
}

 /* BASE CONTENT (HELPERS) */
.centeredtext {
 text-align: center;
}

 /* BASE CONTENT (IMAGES) */
img.scale-with-grid{
 max-width: 100%;
 height: auto;
}

 /* BASE CONTENT (BUTTONS) */
button{
    font-size: inherit;
}
a.button,
button {
    display: inline-block;
    background: #39c;
    color: #fff;
    padding: 1em;
    border-radius: .35em;
    border: none;
    line-height: 1em;
    margin-bottom: .5em;
}
a.button:hover,
button:hover{
    background: #069;
    text-decoration: none;
}

a.button.alt {
    background: none;
    border: 1px solid #39c;
    color: #39c;
}

a.button.alt:hover {
    background: #069;
    border: 1px solid #069;
    color: #fff;
}

/* BASE LAYOUT */

/* BASE LAYOUT (MEDIA QUERIES mobile first) 
	#default/small- (mobile first) - max-width: 0-767px
	#medium+ (tablet) - min-width: 768px+
	#large+ (laptop) - min-width: 1050px+
	#Xlarge+ (desktop) - min-width: 1250px+ */

/* sm (mobile) */
body {
    font-size: 87.5%;
    margin: 0;
    padding: 0;
} 

.container {
    width: 92%;
    margin: 0 auto;
    padding: 0 4%;
}
body.demo {
    padding-top: 2em;
}
body.demo:before {
    content: 'Small (0-767px)';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;		
    text-align: center;
    background: red;
    color: #fff;
}

/* med (tablet) */
@media (min-width: 768px) {
	/* inherits small (mobile) CSS from above */
    body.demo:before {
        content:'Medium (768-1049px)';
        background: orange;
    }
}

/* lg (laptop) */
@media (min-width: 1050px) {
	/* inherits med (tablet) CSS from above */
    body {
        font-size: 100%;
    }
    .container {
        width: 900px;
        padding: 0 50px;
    }
	body.demo:before {
        content:'Large (1050-1249px)';
        background: green;
	}
}

/* Xlarge (desktop) */
@media (min-width: 1250px) {
	/* inherits lg (laptop) CSS from above */
    body {
        font-size: 112.5%;
    }
    .container {
        width: 1100px;
        padding: 0 50px;
    }
	body.demo:before {
        content:'Ex Large (1250px+)';
        background: teal;
    }

}

/* BASE LAYOUT (GRID) */

.row {     
}

.column {
    margin-bottom: 3em;
}

@media (min-width: 768px){
    .column {
        float: left;
        margin-right: 8%;
    }
    .column:last-child {
        margin-right: 0;
    }
    
    /* width = 100 - gutters / # of columns */
    .one-whole.column {width: 100%;}
    .one-half.column {width: 46%;}
    .one-third.column {width: 28%;}
    .one-fourth.column {width: 19%;} 
    .two-thirds.column {width: 64%;} 
	
	.column.centered {
    	margin-left: auto;
    	margin-right: auto;
    	float: none;
    	background: #fffefe;
	}
}

/* BASE LAYOUT (CLEAR FIXES) */
.group:after,
.container:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* for demo purposes only */
.demo .column {
    background: #fffefe;
}
.demo .column p {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}

/* BASE SITE */

/* BASE SITE (STRUCTURE) */

/* HEADER & FOOTER */
.site-header a,
.site-footer a {
	color: #333;
}
.site-header a:hover,
.site-footer a:hover {
	color: #069;
	text-decoration: none;
}

/* HEADER only */
.site-header {
	padding-top: 1em;
	position: '';
}
.site-header .container:after {
	content:'';
	display: block;
	border-bottom: 1px solid #ddd;
}

/* FOOTER only*/

.site-footer {	
}
.site-footer .container {
	padding-top: 0;
	padding-bottom: 1em;
}
.site-footer .container:before {
	content:'';
	display: block;
	border-bottom: 1px solid #ddd;
}

 /* SITE BRANDING */

.site-branding {
	text-align: center;
}
.site-branding h1 {
	margin: 0;
	font-size: 1.5em;
}
.site-branding h1 a {
	display: inline-block;
	padding: .5em 0;
}
@media (min-width: 768px){ 
.site-branding {
	float: left;
	}
}

/* MAIN CONTENT */
.site-main {
	padding-top: 1em;
}
.container.full-width {
	width: 100%;
	padding: 0;
}
section {
	padding: 1.5em 0;
}
section.full-width-bg {
	margin: 0 -100%;
	padding-left: 100%;
	padding-right: 100%;
} 
.hero {
	background: #ccc;
	padding-top: 4em;
	padding-bottom: 3em;
}
.hero h1,
.hero h2 {
	font-size: 3em;
	line-height: 1.1em;
	max-width: 10em;
}
.hero p {
	max-width: 22em;
}

.hero.centeredtext h1, 
.hero.centeredtext h2, 
.hero.centeredtext p {
	margin-left: auto;
	margin-right: auto;
}


/* SUBPAGES*/

@media (min-width: 768px) {
	
	.subpage-main {
		width: 70%;
		padding-left: 4%;
		float: right;
		border-left: 1px solid #ddd;
		margin-top: 2em;
		padding-bottom: 5em;
		}
	.subpage-main section:first-child {
		padding-top: 0;
		}
	.sidebar {
		width: 21%;
		padding-right: 4%;
		float: left;
		position: "";
		margin-top: 2em;
		padding-top: 1.2em;
		}
}

.sidebar .subheader {
	color: #aaa;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: "";
	font-size: 1em;
	padding-top: .3em;
	padding-bottom: .3em;
}


.sidebar nav ul li {
	list-style: none;
	margin: 0;
	border-top: 1px solid #ddd;
}
.sidebar nav ul li:last-child {
	border-bottom: 1px solid #ddd;
}
.sidebar nav ul ul li:last-child {
	border-bottom: none;
}

.sidebar nav ul li a {
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	line-height: 1.2em;
}

.sidebar nav ul ul li a {
	padding-left: 2em;
}
.sidebar nav ul li a:hover {
	background: #ccc;
}


/* SITE NAVIGATION */

.site-navigation {
	text-align: center;
}
.site-navigation ul {
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 0;
}
.site-navigation ul li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.site-navigation ul li a {
	display: block;
	padding: .7em;
}
.site-footer .site.navigation ul {
	border-top: none;
}
@media (min-width: 768px){
	.site-header .site-navigation {
		float: right;
		}
	.site-header .site-navigation ul {
		border-top: none;
		margin-top: .7em;
		}
}
/* NAVICON MENU */
.menu.navicon {
	color: rgba(0,0,0,0);
}
.menu.navicon:after {
	color: #333;
	content: '\2630';
	font-size: 1.5em;
	cursor: pointer;
	width: 1em;
	height: 1em;
	line-height: 1em;
	display: block;
	float: right;
	transition: all .3s;	
}
.menu.navicon.expanded:after {
	content: '\2715';
	transform: rotate(90deg);
}


/* TOGGLE NAV */

.toggle-nav .menu {
	 display: none;
}

@media (max-width: 767px) {
	
	.toggle-nav .site-branding {
			float: left;
		}
	.toggle-nav .menu {
			display: block;
			float: right;
			margin-top: 1em;
		}
	.toggle-nav .menu + ul {
			clear: both;
			display: none;
		}
	.toggle-nav .menu + ul li {
			clear: both;
			display: block;
			float: none;
			padding: .5em 0;
		}
	.toggle-nav .menu + ul li a {
			padding: .75em;
			display: block;
			transition: all .3s ease;
		}
	.toggle-nav .menu + ul li a:hover {
			background: #39c;
			color: #fff;
		}	
	.toggle-nav .menu.expanded + ul {
			display: block;
			clear: both;
		}
}











